#footer .footer-container-list:nth-child(2) a{
    filter: none;
    font-weight: bold;
}

#projects .intro p{
    text-align: left;
}

.github-button {
    display: inline-flex;
    align-items: center;
    background-color: #24292e;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.github-button img {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

.github-button:hover {
    background-color: #444d56;
}

