* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

html[data-theme="light"] {
  --background-color: #f9f9f9;
  /* Fundo geral da aplicação */
  --header-background-color: #0f0f0f;
  /* Fundo do cabeçalho */
  --header-text-color: #d8d8d8;
  --laranja: #ff5b00;
  --laranja-claro: #ff9700;
  --cinza: #eee;
  --texto-cinza: #888686;
  --azul-linkedin: #0a66c2;

}




html, body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  width: 100vw;
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  width: 100vw;
  height: 6vh;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  background-color: var(--background-color);
  color: var(--header-text-color);
  border-bottom: 1px solid #ccc;
}

#header .header-container-list a{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  color: var(--texto-cinza);
}

  #header #github-link {
      color: #6769ef;
      font-weight: bold; /* Roxo padrão do GitHub */
  }

/* Aplicando um degradê ao texto do link */
/* #github-link {
    background: linear-gradient(45deg, #6e5494, #8b65b9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
} */

#header #linkedin-link{
  color: var(--azul-linkedin);
  font-weight: bold;
}

#container-profile {
  width: 140px;
}



#container-profile,
#container-profile a {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  color: var(--header-text-color);
}


.profile-pic {
  border-radius: 60%;
  max-width: 59px;
  max-height: 59px;
  height: auto;
  /* add the animation, but pause it by default */
  animation: spin 2.5s infinite linear paused;

  /**
   * @see https://developer.mozilla.org/en-US/docs/Web/CSS/background-origin
   * @see https://evilmartians.com/chronicles/oklch-in-css-why-quit-rgb-hsl
   */
  background:
    /* Background colors don’t work with background-origin, so use a gradient. */
    linear-gradient(to bottom,
      oklch(55.64% 0.112 159.7 / 94%),
      oklch(55.64% 0.112 159.7 / 94%)) padding-box,
    /* ends at inner border edges */
    conic-gradient(from var(--bg-angle) in oklch longer hue,
      oklch(55.64% 0.112 159.7 / 94%)0 0) border-box;
  /* extends to outer border edges */

  /* a clear border lets the background gradient shine through */
  border: 0px solid transparent;

  /* unpause the animation on hover */
  &:hover {
    animation-play-state: running;
  }
}

header h2 {
  font-size: 14px;
}



#navbar ul {
  list-style-type: none;
  text-align: center;
}

#navbar ul li {
  display: inline;
  margin: 0 10px;
  max-width: 14px;
}

#navbar ul li a {
  text-decoration: none;
  color: var(--header-text-color);
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.menu-hamburguer {
  display: none;
}

main {
  padding-top: 64px;
  padding-bottom: 58px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

}

#contact,
#projects {
  height: 100vh;
}

/**
 * `@property` is required for the animation to work.
 * Without it, the angle values won’t interpolate properly.
 *
 * @see https://dev.to/afif/we-can-finally-animate-css-gradient-kdk
 */
@property --bg-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}

/**
   * To animate the gradient, we set the custom property to 1 full
   * rotation. The animation starts at the default value of `0deg`.
   */
@keyframes spin {
  to {
    --bg-angle: 360deg;
  }
}



#voltar-ao-topo {
  position: fixed;
  top: 86%;
  left: 95%;
}

#voltar-ao-topo img {
  width: 40px;
}

#about {
  width: 40vw;
  display: flex;
  flex-flow: column;
}


#bruno-ramos {
  padding: 50px;
  text-align: left;
}

h1 {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  margin-bottom: 30px;
}



#about p {
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#skills {
  margin-top: 50px;
}

#skills p {
  text-align: center;
}

#about #skills div {
  display: flex;
  /* flex-flow: row; */
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  flex-wrap: wrap;
}

#skills #skills-icon {
  /* width: 40px; */
  display: flex;
  flex-flow: column;
  align-items: center;
  /* background-color: var(--background-escuro); */
  /* border: 1px solid var(--azul-royal); */
  padding: 5px;
}

#skills #skills-icon img {
  width: 40px;
}

#skills #skills-icon span {
  font-size: 20px;
}

#projects {

  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 50px;
  margin-top: 200px;
  text-decoration: none;
}


.project-container {
  display: flex;
  justify-content: space-around;

}

.project {
  margin: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 400px;
}

.project img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.project h3 {
  margin-top: 10px;
}

.project p {
  text-align: left;
}

#contact {
  background-color: var(--cinza);
  padding: 40px;
  text-align: center;
}

#contact h2 {
  color: #333;
  margin-bottom: 20px;
}

#contact-form {
  width: 70vw;
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-flow: column;
}

#contact-form label {
  display: block;
  text-align: left;
  margin: 10px 0 5px;
  font-weight: bold;
  color: #555;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  /* Para garantir que padding não afete a largura total */
  margin-bottom: 20px;
}

#contact-form input[type="submit"] {
  background-color: #0056b3;
  color: var(--background-color);
  border: none;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

#contact-form #nome,
#contact-form #email {
  width: 400px;
}

#contact-form #mensagem {
  height: 200px;
  width: 80%;
}

#contact-form #contact-button-submit {
  width: 200px;
  justify-self: right;
}

#contact form input[type="submit"]:hover {
  background-color: #003d7a;
}



/* FOOTER */
#footer{
  background-color: var(--background-color);
  z-index: 2;
  bottom: 0;
  position: fixed;
  width: 100vw;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid #ccc;
  color: #ccc;
}
  #footer img{
    width: 2vw;
  }

  .footer-container-list a{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--texto-cinza);
  }

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  #header {
    overflow: visible;
  }

  #container-menu {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: end;
    height: 80%;
    width: 100px;
  }

 
  #container-menu ul{
    position: absolute;
    display: flex;
    flex-flow: column;
    right: -50%;
    margin-top: 7px;
  }


  #voltar-ao-topo {
    top: 82%;
    left: 90%;
  }

  #voltar-ao-topo img {
    width: 70%;
  }

  #about {
    width: 90vw;
  }


  #about .profile-pic {
    width: 50vw;
  }

  #projects {
    height: 100%;
  }

  .project-container {
    display: flex;
    flex-flow: column;
  }

  .project {
    max-width: 300px;
  }


  #contact-form #nome,
  #contact-form #email,
  #contact-form #mensagem {
    width: 100%;
  }

  #footer{
    height: 6vh;
  }

    #footer .footer-container-list span{
      font-size: 10px;
    }

 

  footer img {
    max-width: 5vw; 
  }
}

#notificacao {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #04AA6D;
  color: white;
  padding: 12px 24px;
  border-radius: 4px;
  display: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  font-size: 16px;
}